<div class="col4 row1" id="menu">
	<div>
		<a href="/user/myprofile">My Profile</a>
	</div>
	<div>
		<ul>
			<li><p>Welcome <span>{{user.username}}</span></p></li>
			{{!-- <li><p>Search User Using SSN</p></li> --}}
			<li><a href="/log-out">Log Out</a></li>
		</ul>
	</div>
</div>