html, body {
	height: 100%;
	font-size: 1.3em;
	margin: 0%;
	padding: 0%;
	background-color: gainsboro;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

body {
	align-items: center;
	text-align: center;
	display: grid;  
	grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
	grid-template-rows: minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);  
	grid-gap: 10px;
}

h1 {
	font-size: 1.6em;
	color: black;
	font-weight: bold;
}

form {
	display: table;
	width: 100%;
	text-align: right;
	font-size: 0.5em;
}

form label {
	text-align: left;
	width: 50%;
}

form input {
	width: 50%;
}

form select {
	width: 50%;
}

form button {
	margin-top: 2%;
	font-size: 0.8em;
	width: auto;
	min-width: 30%;
}

pre {
	font-size: 0.5em;
	white-space: pre-wrap;
}

span {
	color: royalblue;
}

.col12 {
	grid-column-start: 1;
	grid-column-end: 3;
}

.col123 {
	grid-column-start: 1;
	grid-column-end: 4;
}

.col1234 {
	grid-column-start: 1;
	grid-column-end: 5;
}

.col12345 {
	grid-column-start: 1;
	grid-column-end: 6;
}

.col2 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.col23 {
	grid-column-start: 2;
	grid-column-end: 4;
}

.col234 {
	grid-column-start: 2;
	grid-column-end: 5;
}

.col2345 {
	grid-column-start: 2;
	grid-column-end: 6;
}

.col3 {
	grid-column-start: 3;
	grid-column-end: 4;
}

.col34 {
	grid-column-start: 3;
	grid-column-end: 5;
}

.col345 {
	grid-column-start: 3;
	grid-column-end: 6;
}

.col4 {
	grid-column-start: 4;
	grid-column-end: 5;
}

.col45 {
	grid-column-start: 4;
	grid-column-end: 6;
}

.col5 {
	grid-column-start: 5;
	grid-column-end: 6;
}

.row1 {
	grid-row-start: 1;
	grid-row-end: 2;
}

.row12 {
	grid-row-start: 1;
	grid-row-end: 3;
}

.row2 {
	grid-row-start: 2;
	grid-row-end: 3;
}

.row23 {
	grid-row-start: 2;
	grid-row-end: 4;
}

.row234 {
	grid-row-start: 2;
	grid-row-end: 5;
}

.row2345 {
	grid-row-start: 2;
	grid-row-end: 6;
}

.row345 {
	grid-row-start: 3;
	grid-row-end: 6;
}

.row4 {
	grid-row-start: 4;
	grid-row-end: 5;
}

.row5 {
	grid-row-start: 5;
	grid-row-end: 6;
}