html, body {
	height: 100%;
	font-size: 1.6em;
	margin: 0%;
	padding: 0%;
	background-color: gainsboro;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

body {
	align-items: center;
	text-align: center;
	display: grid;  
	grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
	grid-template-rows: minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);  
	grid-gap: 10px;
}

h1 {
	font-size: 1.7em;
	color: black;
	font-weight: bold;
}

.col12 {
	grid-column-start: 1;
	grid-column-end: 3;
}

.col23 {
	grid-column-start: 2;
	grid-column-end: 4;
}

.col123 {
	grid-column-start: 1;
	grid-column-end: 4;
}

.col1234 {
	grid-column-start: 1;
	grid-column-end: 5;
}

.col234 {
	grid-column-start: 2;
	grid-column-end: 5;
}

.col2 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.col3 {
	grid-column-start: 3;
	grid-column-end: 4;
}

.col4 {
	grid-column-start: 4;
	grid-column-end: 5;
}

.col34 {
	grid-column-start: 3;
	grid-column-end: 5;
}

.row1 {
	grid-row-start: 1;
	grid-row-end: 2;
}

.row12 {
	grid-row-start: 1;
	grid-row-end: 3;
}

.row23 {
	grid-row-start: 2;
	grid-row-end: 4;
}

.row234 {
	grid-row-start: 2;
	grid-row-end: 5;
}

.row4 {
	grid-row-start: 4;
	grid-row-end: 5;
}

.row345 {
	grid-row-start: 3;
	grid-row-end: 6;
}

.row5 {
	grid-row-start: 5;
	grid-row-end: 6;
}

.row2345 {
	grid-row-start: 2;
	grid-row-end: 6;
}